*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml
*.apk
*.zip
local.properties
.idea
.gradle
build/
gradle/wrapper/gradle-wrapper.properties
/data/data.iml
/domain/domain.iml
/views/views.iml
/utils/utils.iml
cmake-build-*/